.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.button {
  background-color: #e7e7e7;
  /* Gray */
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 10px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.button.active {
  background-color: #647bcc;
  /* Green */
  color: white;
}

.button.deactivated {
  background-color: #adadad;
  /* Red */
  color: white;
}

.active {}